<section id="about" aria-labelledby="about-head">
  <h2 id="about-head">About Us</h2>
  <ul>
    <li>
      <div>
        <div class="icon">🙋‍♀️</div>
        <p class="quality">Humane Software Development</p>
        <p class="description">We develop software with humans in mind, providing a keen focus on accessibility, inclusivity and sustainability.</p>
      </div>
    </li>
    <li>
      <div>
        <div class="icon">🤝</div>
        <p class="quality">Individuals and Interactions</p>
        <p class="description">We strengthen teams by empowering individuals and liberating methods of interactions.</p>
      </div>
    </li>
    <li>
      <div>
        <div class="icon">🧠</div>
        <p class="quality">Independent Thinkers</p>
        <p class="description">Our allegiance is to you, nobody else. Pragmatic advice honestly given.</p>
      </div>
    </li>
  </ul>
</section>
