<section id="services" aria-labelledby="services-head">
  <h2 id="services-head">What We Can Do For You</h2>
  <ul>
    {{#services}}
    <li class="service">
      <div>
        <img src="{{img}}" alt="" />
        <h3>{{name}}</h3>
        <p>{{description}}</p>
      </div>
    </li>
    {{/services}}
  </ul>
</section>
