<section id="team" aria-labelledby="team-head">
  <h2 id="team-head">Meet the Team</h2>
  <div class="roster">
    <div class="staff">
      <img src="shogarth.jpg" alt="Sam Hogarth portrait" />
      <h3><a href="https://samhogy.co.uk">Sam Hogarth</a></h3>
      <p>Technical Director</p>
    </div>
</section>
