<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🎃 Pumpkin Solutions</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700" />
    <link rel="stylesheet" href="style.css">
    <link rel="canonical" href="https://pumpkin.solutions" />
    {{> favicon}}
  </head>
  <body>
    <header>
      <div class="container">
        <h1><img class="logo" src="logo.png" alt="Pumpkin Solutions" /></h1>
      </div>
    </header>
    <main class="container">
      {{> team}}
    </main>
    {{> footer}}
  </body>
</html>