:root {
  --dark-purple: #553873;
  --light-purple: #714BA6;
  --yellow: #F2A516;
  --orange: #F28F16;
  --red: #F24822;
  --grey: #F2F5FA;
}

* {
  background-color: inherit;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,h2,h3, p {
  margin: 0;
  padding: 0;
}

::selection{
  color: #fff;
  background: var(--light-purple);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* HEADER */

header {
  border-bottom: 3px solid var(--dark-purple);
  background-color: var(--grey);
  margin-bottom: 1rem;
}

header .container {
  margin: 0 auto 0.5rem auto; 
  text-align: center;
}

.logo {
  height: 160px;
}

header p {
  font-size: 1.2rem;
  color: var(--dark-purple);
}

/* FOOTER */
footer {
  border-top: 3px solid var(--dark-purple);
  margin-top: 1rem;
  padding: 1rem 0;
}

/* CONTENT */
h2 {
  margin: 2rem 0;
}

#about ul, #services ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about li {
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 50%;
  box-sizing: border-box;
}

.icon {
  font-size: 3rem;
}

.quality {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.description, .service p {
  line-height: 1.8;
}

.service {
  display: inline-block;
  width: 350px;
  height: 350px;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 2rem;
  background-color: var(--grey);
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.service img {
  border-radius: 4px;
}

.service:hover {
  background-color: white;
  border-color: var(--light-purple);
}

.serivce:hover h3 {
  color: var(--light-purple);
}

.service h3 {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.service strong {
  font-weight: 600;
}

.roster {
  display: flex;
  flex-wrap: wrap;
}

.staff {
  flex: 1;
  display: inline-block;
  margin: 0 1rem;
}

.staff img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 3px solid var(--light-purple);
}

.staff a {
  font-size: 1.25rem;
  color: #000;
  font-weight: normal;
}

/* COMPONENTS */
.action {
  display: inline-block;
  border: 0.1em solid var(--orange);
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  color : var(--orange);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.action:hover {
  color: white;
  background-color: var(--orange);
  text-decoration: none;
}

/* RESPONSIVE */
@media(max-width: 680px) {
  header .container {
    flex-direction: column;
  }

  header p {
    font-size: 1rem;
  }

  #about, #team, #services h2, header .container, footer .container {
    padding: 0 10px;
  }
}